 <%if $latest_items.length <= 3%>
	<% (0..$latest_items.length-1).each do |i| %>
	  <li><%= $latest_items[i] %></li>
	<% end %>
<%else%>

	<% ($latest_items.length-3..$latest_items.length-1).each do |i| %>
	  <li><%= $latest_items[i] %></li>
	<% end %>
<%end%>